.sign {
    border-radius: 1rem;
    background-color: rgb(191, 191, 191);
    background-image: url('gr1.jpg');
    text-align: center;
    padding: 1%;
    padding-bottom: 3%;
    padding-top: 3%;
    margin-top: 5%;
    margin-left: 55%;
    border: 3px solid black;
}
.text{
    padding-left: 1025px;
    text-align: center;
}
.fortitle {
    font-size: medium;
    font-weight: 500;
    font-family: "Gill Sans", sans-serif;
    padding: 3px;
}

.forp {
    font-family: "Gill Sans", sans-serif;
}

.textinformleft {
    text-align: left;
    padding-left: -1%;
    padding-right: 3%;

    width: 50%;
    border-radius: 1rem;
    font-size: medium;
    font-weight: 500;
    font-family: "Gill Sans", sans-serif;
}

.textinformright {
    width: 50%;
    padding-right: 10px;
    border-radius: 1rem;
    font-family: "Gill Sans", sans-serif;
}
.textinformright2 {
    width: 100%;
    text-align: center;
    padding-right: 10px;
    border-radius: 1rem;
    font-family: "Gill Sans", sans-serif;
}

input {
    border-radius: 5 px;
    color: black;
    background-color: white;
    padding-left: 15px;
    width: 90px;
    
}

input:focus {
    border-color: blue;
}

.forform {
    display: flex;
    padding: 15px;
    border-radius: 1rem;
}

.forpadding {
    padding-top: 1%;
    padding-left: 55%;
    padding-right: 2%;
}


body {
    background-image: url('x7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.forbutton {
    background-color: rgb(16, 9, 9);
    color: white;
    border-radius: 1rem;
    padding: 7px;
    font-family: "Gill Sans", sans-serif;
}

button:hover {
    background-color: white;
    color: rgb(17, 23, 23);
    box-shadow: white;
    cursor: pointer;
}

.fordashboardtop {
    border-radius: 1rem;
    display: flex;
    background-color:#FFC0CB;
}

.fordashboardtopelements1 {
    font-family: "Gill Sans", sans-serif;
    width: 90%;
    font-size: large;
    padding: 2%;
}

.fordashboardtopelements2 {
    width: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.fordashboarddetails {
    padding: 2%;
    border-radius: 1rem;
    
}

.outerofdashdetails {
    padding-left: 5%;
    padding-right: 5%;
    background-image: url('hx.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.fortable {
    width: 100%;
    padding: 1%;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
}

.pad {
    padding: 7px;
}

.forbutton2 {
    background-color: rgb(62, 124, 139);
    color: white;
    border-radius: 1rem;
    padding: 7px;
    width: 200%;
    font-family: "Gill Sans", sans-serif;
}

.foraddbutton{
    
    background-color: rgb(166, 227, 230);
    color: white;
    border-radius: 1rem;
    padding: 7px;
    font-family: "Gill Sans", sans-serif;
}

.collapsible {
    background-color: rgb(128, 36, 82);
    color: white;
    border-radius: 1rem;
    padding: 7px;
    width: 30%;
    font-family: "Gill Sans", sans-serif;   
    cursor: pointer;
   
}

.collapsible:hover {
    background-color: white;
}

.content {
 
    display: none;
    border-radius: 1rem;
    background-color: #FFC0CB;
    width: 50%;
    
}
